@font-face {
	font-family: Bebas;
	src: url(../fonts/bebas_neue_cyrillic.eot);
	src: url(../fonts/bebas_neue_cyrillic.eot?#iefix) format("embedded-opentype"), url(../fonts/bebas_neue_cyrillic.woff) format("woff"), url(../fonts/bebas_neue_cyrillic.ttf) format("truetype"), url(../fonts/bebas_neue_cyrillic.svg#bebas_neue_cyrillicregular) format("svg");
	font-weight: 700;
	font-style: normal
}

.user-content {
	font-weight: 400;
	line-height: 26px;
	font-size: 16px
}

.user-content * {
	margin-bottom: 26px
}

.user-content h1,
.user-content h2 {
	margin: 44px 0;
	text-transform: uppercase
}

.user-content h1 {
	font-size: 4.5em;
	line-height: .84
}

.user-content h2 {
	font-size: 3em;
	line-height: .92
}

.user-content h3 {
	font-size: 1.88em;
	line-height: .86em;
	margin: 30px 0;
	text-transform: none
}

.user-content h4 {
	font-size: 1em;
	margin-bottom: 26px
}

.user-content h5,
.user-content h6 {
	font-size: 1em
}

.user-content p {
	font-size: 1em;
	line-height: 1.625em
}

.user-content ul {
	padding-left: 0;
	list-style: none;
	margin-bottom: 44px
}

.user-content ul li {
	padding-left: 18px;
	position: relative
}

.user-content ul li:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 7px;
	height: 7px;
	background-color: #10c18a
}

.user-content table p {
	margin-bottom: 0
}

.user-content ol {
	padding-left: 18px;
	list-style: decimal;
	margin-bottom: 44px
}

.user-content a {
	color: #10c18a
}

.user-content li {
	margin-bottom: 0
}

.user-content em,
.user-content i {
	font-style: italic
}

.user-content b,
.user-content strong {
	font-weight: 700
}

.user-content iframe,
.user-content img,
.user-content video {
	display: block;
	max-width: 100%;
	margin: 44px 0;
	height: auto!important
}

.user-content blockquote,
.user-content q {
	background-color: #f9f9f9;
	padding: 55px 70px;
	font-size: 18px;
	line-height: 30px;
	color: #54657e;
	position: relative;
	font-style: italic;
	margin: 44px 0
}

.user-content blockquote:after,
.user-content blockquote:before,
.user-content q:after,
.user-content q:before {
	content: '"';
	font-size: 72px;
	line-height: 72px;
	font-weight: 700;
	font-style: italic;
	color: #cad3df;
	position: absolute
}

.user-content blockquote:before,
.user-content q:before {
	top: 18px;
	left: 13px
}

.user-content blockquote:after,
.user-content q:after {
	right: 36px;
	bottom: -14px
}

.user-content .s-line {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-moz-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	padding: 0
}

.user-content .s-line-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	margin-bottom: 0
}

.user-content .s-line-item:last-child {
	border-right: 0
}

.user-content .s-line-item img {
	display: block;
	height: auto;
	max-width: 100%;
	width: auto;
	margin: 0;
	max-height: 150px
}

.user-content .s-line-item p {
	display: block;
	width: 100%
}

.user-content .s-line .accordion-item {
	width: 100%
}

.user-content .s-line .accordion-head {
	cursor: pointer;
	width: 100%
}

.user-content .s-line-slider {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.user-content .s-line-slider img {
	display: block;
	width: 25%
}